* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: url(stationary2.jpg) no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

button {
  font: inherit;
  border: 1px solid #000053;
  color: white;
  background: #000053;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #12128a;
  border-color: #12128a;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea {
  width: 100%;
  font: inherit;
  padding: 0.15rem 0.25rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #000053;
}

section {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  padding: 1.5rem;
}

.navbar {
  background-color: rgb(240, 245, 241);
}

.nav-item {
  color: black;
}

.navbar-brand {
  margin-left: 50px;
  font-size: 27px;
  color: black;
}

.navbar-nav {
  margin-left: 740px;
  color: black;
}

.container {
  text-align: center;
  margin: 25px 50px 75px 100px;
  max-width: 450px;
  padding: 22px;
  margin: auto;
  margin-top: 125px;
  margin-right: 200px;
}

.form-control {
  margin: 0.5rem 0;
  background-color: inherit;
}



.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

.post-item h2,
.post-item p {
  margin: 0.5rem 0;
}

.post-item h2 {
  font-size: 1.5rem;
  color: #414141;
}

.post-item button {
  border-color: #920101;
  background: #920101;
}

.post-item button:hover,
.post-item button:active {
  border-color: #dd2929;
  background: #dd2929;
}
